<script type="text/javascript">
    //Si on clique sur le bouton d'ajout
    $("#Amis").submit(function(e){
        e.preventDefault();
        if($("#email").val() =='')
        {
            alert("Veuillez entrer un email");
        }
        else if($("#email").val().lastIndexOf("@") != -1){
            alert("Veuillez entrer une adresse mail valide");
        }
        else{       
            $.ajax({
                data: 'email=' +  $("#email").val(),
                url: SLASH+'..'+SLASH+'layout'+SLASH+'amis.php',
                method: 'POST',
                success: function(msg) {
                    alert(msg);
                }
            });
        }
    });
</script>


<br/></br><h2>Ajouter un ami</h2></br>
<div id="ajoutAmis">
    <form method="post" id="Amis" >
        Email : <input type="email" name="email" id="textbox">@edu.ece.fr
        <input type="submit" id="button" value="Ajouter"/>
    </form>
</div></br></br></br>

<h2>Liste d'amis</h2></br>

<table id="amisAff">
    {% for user in data%}

        <tr>
            <td>
                <img src={{ '/../userdata/'~ user.email ~ '/icon.png'}}  height="128" width="128" name="Icon">
            </td>
            <td>
                <ul>


                        Nom : {{ user.nom }}<br>
                        Email: {{ user.email }} @edu.ece.fr<br>
                        Pseudo : {{ user.pseudo }} <br>
                        Statuts d'amitié : {{ user.friend_status }} <br>
                        <form class="delet friend" id="supprimerAction" method="post">
                            <input type="submit" value="Supprimer de la liste d'amis"/>
                        </form>

                        
                </ul>
            </td>
        </tr>
    {% endfor %}
</table>