<br/></br><br/></br>

<h1 class="center">LISTE D'AMIS</h1></br>

<br/></br><h2  class="center">Ajouter un ami</h2></br>
<div class="center" id="ajoutAmis">
    <form id="Amis">
        Email : <input type="text" name="email" id="email">@edu.ece.fr
        <input type="submit" id="button" value="Ajouter"/>
    </form>
</div></br></br></br>

<table id="amisAff">
    {% for user in data%}

        <tr>
            <td>
                <img src={{ '/../userdata/'~ user.email ~ '/icon.png'}}  height="128" width="128" name="Icon">
            </td>
            <td>
                <ul>


                        Nom : {{ user.nom }}<br>
                        Email: {{ user.email }} @edu.ece.fr<br>
                        Pseudo : {{ user.pseudo }} <br>
                        {{ user.friend_status }} <br>
                        <button id="{{ user.email }}" class="supprimerAction" type="button">Supprimer de la liste d'amis</button>
                    
                        {% if 'a demandé' in user.friend_status %}
                            <button id="{{ user.email }}" class="validerAmi"  type="button">Accepter la demande d'amis</button>
                        {% endif %}
                        

                        
                </ul>
            </td>
        </tr>
    {% endfor %}
</table>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
                                
            //Si on clique sur le bouton d'ajout
            $("#Amis").submit(function (e) {
                e.preventDefault();
                if ($("#email").val() == '')
                {
                    alert("Veuillez entrer un email");
                }
                else if($("#email").val().lastIndexOf("@") != -1){
                    alert("Veuillez entrer une adresse mail valide");
                }
                else{
                    $.ajax({
                        data: 'email=' +  $("#email").val(),
                        url: '../layout/amis.php',
                        method: 'POST',
                        success: function(msg) {
                            alert(msg);   
                            if(msg == "Demande envoyée !")  location.reload(true); 
                        }
                    });
                }
            });
            
            //Si on clique sur le bouton de suppression
            $(".supprimerAction").click(function (e) {
                e.preventDefault();
                
                var friendemail = $(this).attr('id');
                $.ajax({
                    data: 'emailsuppr=' +  friendemail,
                    url: '../layout/amis.php',
                    method: 'POST',
                    success: function(msg) {
                        alert(msg);   
                        if(msg == "Ami supprimé !")  location.reload(true); 
                    }
                });
            });
            
            //Si on accepte la demande d'ami
            $(".validerAmi").click(function (e) {
                e.preventDefault();
                
                var friendemail = $(this).attr('id');
                $.ajax({
                    data: 'emailavalider=' +  friendemail,
                    url: '../layout/amis.php',
                    method: 'POST',
                    success: function(msg) {
                        alert(msg);   
                        if(msg == "Ami accepté !")  location.reload(true); 
                    }
                });
            });
            
        });
         
    </script>
