<br/><br/><br/><br/><h1 class="center">Vous êtes dans la chronologie</h1><br/><br/>

<!-- Post -->
{% for postres in data %}
<div id="post">

    {% set post =  postres.post %}

        {% if post.type == 0 %}
            <!-- post text -->
            <h2>   {{ post.legend }}</h2> <br>
            {% if post.emotion %}
                <div id="emotion" class="image-emotion" >
                    <img src={{ '/../layout/img/Emotion/'~ post.emotion~'.png'}} name="emotion" width="70" height="70">
                </div>
            {% endif %}
        {% elseif post.type == 1 or post.type ==2 %}
            <!-- post image ou video-->
            <img src={{ '/../userdata/'~ post.user~'/'~post.idalbum~'/'~post.idpost ~'.mp4'}} name={{ post.idpost }}>
            {% if post.type == 1 %}
            {% else %}
                <video width="320" height="240" autoplay>
                    <source src={{ '/../userdata/'~ post.user~'/'~post.idalbum~'/'~post.idpost ~'.mp4'}} type="video/mp4">
                    <source src={{ '/../userdata/'~ post.user~'/'~post.idalbum~'/'~post.idpost ~'.ogg'}} type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
            <form class="add to album" id="addToAlbumAction" method="post">
                Add to album - pour toi marianne<input type="submit" value="Valider"/>
            </form>
        {% endif %}
        <div class="post">
            <div class="post-text">
                {% if post.legende %}
                    {{ post.legende }}
                {% endif %}
            </div>
            <div  class="post-date">
                {% if post.date%}
                    {{ post.date}}
                {% endif %}

                {% if post.lieu%}
                    {{ post.lieu }}
                {% endif %}

                {% if post.activiter%}
                    {{ post.activiter}}
                {% endif %}
            </div>
            <br/><br/><br/>
        </div>

</div>
<!-- Commentaire -->
    <div id="comment">
    {% if postres.comment %}
{% for com in postres.comment %}
    {{ com }}
Commentaire de: {{ com.user }} le :{{ com.date }} <br>
  {% if com.type %}
      <img src={{ '/../layout/img/Emotion/'~ post.emotion~'.png'}} name="emotion">

  {% endif %}
    {{ com.reactiontxt }}
{% endfor %}
        {% endif %}
    </div>
{% endfor %}