<!-- Script pour change de photo de profil et de fond -->
<script>
    var SLASH = "/";
    function submitForm(type) {
        console.log("submit event");
        var fd = new FormData(document.getElementById("fileinfo"));
        if(type =='1'){fd.append("nomfic", "icon.png");
       // alert("changement de icon");
        }
        else{
            fd.append("nomfic", "fond.png");
          //  alert("changement de fond");
        }
        $.ajax({
            url:  SLASH + '..' + SLASH + 'layout' + SLASH +"uploadprofil.php",
            type: "POST",
            data: fd,
            processData: false,  // tell jQuery not to process the data
            contentType: false   // tell jQuery not to set contentType
        }).done(function( data ) {
            console.log("PHP Output:");
            console.log( data );
            alert(data);
        });
        return false;
    }
</script>
<br/><br/><h1 class="center">PROFIL</h1><br/><br/>

<table class="visuProfil">

        <tr>
            <td>
                <img src={{ '/../userdata/'~user.email~'/icon.png'}} alt="Icon" height="150" width="150" class="decalage">
            </td>
            <td>
                <ul>

                    <li class="page">
                       Nom:  <b>{{ user.nom }}<br><br/></b>
                       Email : <b>{{ user.email }} @edu.ece.fr<br><br/></b>
                       Pseudo : <b>{{ user.pseudo }} <br></b>
                    </li>

                </ul>
            </td>
        </tr>
    <tr>
        <td>
        <form method="post" id="fileinfo" name="fileinfo"   onsubmit="return submitForm('0');">
            <p  style="font-size:50%; padding-bottom: -50%;" >Nouveau fond:</p><br>
            <input  id="button" type="file" name="file" required />
            <input id="button" type="submit" name="submit" value="Upload" />
        </form>
    </td>
        <td>
            <form method="post" id="fileinfo" name="fileinfo" onsubmit="return submitForm('1');">
                <p style="font-size:50%; padding-bottom: -50%;">Nouvelle Icon</p><br>
                <input  id="button" type="file" name="file" required />
                <input id="button" type="submit" value="Upload" />
            </form>
        </td>
    </tr>

</table>
<!-- Affichage de l'historique-->
{% for post in data %}

    {% if post.type == 0 %}
        <!-- post text -->
        <h2>   {{ post.legend }}</h2> <br>
        {% if post.emotion %}
            <div id="emotion">
                <img src={{ '/../layout/img/Emotion/'~ post.emotion~'.png'}} name="emotion">
            </div>
        {% endif %}
    {% elseif post.type == 1 or post.type ==2 %}
        <!-- post image ou video-->
        <img src={{ '/../userdata/'~ post.user~'/'~post.idalbum~'/'~post.idpost ~'.mp4'}} name={{ post.idpost }}>
        {% if post.type == 1 %}
        {% else %}
            <video width="320" height="240" autoplay>
                <source src={{ '/../userdata/'~ post.user~'/'~post.idalbum~'/'~post.idpost ~'.mp4'}} type="video/mp4">
                <source src={{ '/../userdata/'~ post.user~'/'~post.idalbum~'/'~post.idpost ~'.ogg'}} type="video/ogg">
                Your browser does not support the video tag.
            </video>
        {% endif %}
        <form class="add to album" id="addToAlbumAction" method="post">
            Add to album - pour toi marianne<input type="submit" value="Valider"/>
        </form>
    {% endif %}
    {% if post.legende %}
        {{ post.legende }}
    {% endif %}
    {% if post.date%}
        {{ post.date}}
    {% endif %}
    {% if post.lieu%}
        {{ post.lieu }}
    {% endif %}
    {% if post.activiter%}
        {{ post.activiter}}
    {% endif %}
{% endfor %}

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>