<table>

        <tr>
            <td>
                <img src={{ '/../userdata/'~user.email~'/icon.png'}} alt="Icon" height="128" width="128">
            </td>
            <td>
                <ul>

                    <li>
                        {{ user.nom }}<br>
                        {{ user.email }} <br>
                        {{ user.pseudo }} <br>
                        {{ user.mdp }} <br>
                    </li>

                </ul>
            </td>
        </tr>

</table>