<div class="publi">

    <script type="text/javascript">
            $(document).ready(function () {
                var SLASH = "/";
                $('#formStat').submit(function (e) {
                    e.preventDefault();
                    var dateBox = -'', statutBox = '', lieuBox = '', emo = '', act = '', pap = '';
                    if ($("#status").val() != '') {
                        if ($("#lieu").val() != 'lieu') {
                            lieuBox = $("#lieu").val();
                        }
                        if ($("#emotion").val() != -1) {
                            emo = $("#emotion").val();
                        } else emo = '-1';
                        if ($("#activite").val() != 'activite') {
                            act = $("#activite").val();
                        }

                        if (document.getElementById('pub').checked) {
                            pap = 0;
                        }
                        if (document.getElementById('am').checked) {
                            pap = 1;
                        }
                        if (document.getElementById('pr').checked) {
                            pap = 2;
                        }

                        $.ajax({
                            data: 'type=' + '0' + ' &legende=' + $("#status").val() + ' &idalbum=' + '0' + ' &lieu=' + lieuBox + ' &emotion=' + emo + ' &activite=' + act + ' &contenu=' + '0' + ' &pap=' + pap,
                            url: SLASH + '..' + SLASH + 'layout' + SLASH + 'publication.php',
                            method: 'POST',
                            success: function (msg) {
                                alert(msg);
                            }
                        })
                    }
                    else alert("Vous n'avez rien entré!");

                });
                $('#media').submit(function (e) {
                    e.preventDefault();
                    var pap = 0;
                    // var dateBox=-'', statutBox='', lieuBox='', emo='', act='', pap='';
                    //  if($("#selMedia").val()!=''){
                    /*
                     if($("#lieu2").val()!='lieu'){ lieuBox= $("#lieu2").val();}
                     if($("#emo2").val()!=-1){ emo= $("#emo2").val();} else emo='-1';
                     if($("#act2").val()!='activite'){ act= $("#act2").val();}*/

                    if (document.getElementById('pub').checked) {
                        pap = 0;
                    }
                    if (document.getElementById('am').checked) {
                        pap = 1;
                    }
                    if (document.getElementById('pr').checked) {
                        pap = 2;
                    }
                    var fd = new FormData(document.getElementById("media"));
                    fd.append("label", "WEBUPLOAD");
                    fd.append("pap", pap);
                    fd.append("type", 1);
                    fd.append("contenu","");
                    //$pieces = $("#nameP").val().split("h");
                    // $path="";
                    //$path =$("#selMedia").val() +$pieces[1]; //$pieces[1];
                    //alert(fd);
                    // $album = $("#numAl").val();
                    //var al=$album;
                    //var pa=$path;
                    //$legende = $("#legende").val();
                    $.ajax({
                        //data: 'type='+'1' + ' &legende=' +  $("#legende").val() + ' &idalbum='+al + ' &lieu=' + lieuBox + ' &emotion='+emo +' &activite='+ act + ' &contenu='+ pa + ' &pap='+pap ,
                        data: fd,
                        url: SLASH + '..' + SLASH + 'layout' + SLASH + 'publication.php',
                        method: 'POST',
                        processData: false,  // tell jQuery not to process the data
                        contentType: false, // tell jQuery not to set contentType
                        success: function (msg) {
                            alert(msg);
                        }
                    });


                });
            });
            </script>
    <br/> <br/> <br/><h1 class="center">PUBLICATION</h1><br/>

    <form method="post" class="pp publi-left left center" id="formStat">
        <h3>Publier un status</h3><br/>
        Status :
        <input type="text" class="textbox" name="status" id="status"/> <br> <br> <br>
        Lieu : <input type="text" name="lieu" class="textbox" id="lieu"/><br/><br/>
        <!--Emotion : <input type="number" name="emot" class="textbox" value="0" id="emotion"/>-->
        Emotion:<select name="emot">
            <option value="4" >Happy </option>
            <option value="1">Love </option>
            <option value="2">Silent </option>
            <option value="3">Kitty </option>
            <option value="4">Imature</option>
        </select><br/><br/>
        Activité : <input type="text" name="activité" class="textbox" id="activite"/><br/>

        <br/>

        <input type="radio" name="typPub" value="Public" id="pub" checked> Publique 
        <input type="radio" name="typPub" value="Amis" id="am"> Amis 
        <input type="radio" name="typPub" value="Seul" id="pr"> Moi-même <br/><br/>

        <input type="submit" id="buttonStatuts" value="Publier" name="publierStatus"/>
    </form>
</div>

<!-- Publication Image/Video-->
<div class="publi">
    <form method="post" class="pp publi-right right center" id="media">
        <h3>Publier un média</h3><br/>
        Légende : <input type="text" class="text" name="legende" id="legende"/><br/><br/>
        <input type="file" class="FileAdd" name="file"  class="Box" id="nameP" required/> <br><br/>
        <!--Ajouter le chemin jusuq'au dossier où le média est stocké afin de pouvoir poster ce média !!! <br>
        <input type="text" class="text" value="path" name="selMedia" id="selMedia"/>

        <br/> -->
        <br/>
        <br/>
        Lieu : <input type="text" name="lieu" class="textbox" id="lieu2"/><br/><br/>
        Activité : <input type="text" name="activite" class="textbox" id="act2"/><br/><br/>
        Album:
        <select name="idalbum">
            <option value="0">Pas d'album</option>
            {% for alb in data.album %}
                <option value="{{ alb.id }}">{{ alb.nom }}</option>
            {% endfor %}
        </select><br/><br/>

        <br/>

        <input type="radio" name="typPub" value="Public" checked> Publique 
        <input type="radio" name="typPub" value="Amis" > Amis 
        <input type="radio" name="typPub" value="Seul" > Moi-même <br/><br/>

        <input type="submit" class="button" value="Publier" name="PublierMédia"/></br></br>
    </form>
</div>
<!-- Affichage de l'historique-->
<h1 class="clear center"><br/>VOS PUBLICATIONS</h1></br>
<div id="post">
{% for post in data.post %}

    {% if post.type == 0 %}
        <!-- post text -->
        <h2>   {{ post.legend }}</h2> <br>
        {% if post.emotion %}
            <div id="emotion" class="image-emotion">
                <img src={{ '/../layout/img/Emotion/'~ post.emotion~'.png'}} name="emotion" width=70 height=70>
            </div>
        {% endif %}
    {% elseif post.type == 1 or post.type ==2 %}
        <!-- post image ou video-->

        {% if post.type == 1 %}
            <img src={{ '/../userdata/'~ post.user~'/'~post.idalbum~'/'~post.idpost ~'.png'}} name={{ post.idpost }}>
        {% else %}
            <video width="320" height="240" autoplay>
                <source src={{ '/../userdata/'~ post.user~'/'~post.idalbum~'/'~post.idpost ~'.mp4'}} type="video/mp4">
                <source src={{ '/../userdata/'~ post.user~'/'~post.idalbum~'/'~post.idpost ~'.ogg'}} type="video/ogg">
                Your browser does not support the video tag.
            </video>
        {% endif %}

    {% endif %}
    <div class="post">
        <div class="post-text">

            {% if post.legende %}
                {{ post.legende }}
            {% endif %}
        </div>
        <div  class="post-date">

            {% if post.date%}
                {{ post.date}}
            {% endif %}
            {% if post.lieu%}
                {{ post.lieu }}
            {% endif %}
            {% if post.activiter%}
                {{ post.activiter}}
            {% endif %}
        </div>
    </div>
    <br/><br/><br/><br/><br/><br/>

        {% endfor %}
    
</div>