<div class="publi">

    <script type="text/javascript">
            $(document).ready(function () {
                var SLASH = "/";
            $('#formStat').submit(function(e){
                e.preventDefault();
               var dateBox=-'', statutBox='', lieuBox='', emo='', act='', pap='';
    if($("#status").val()!=''){
        if($("#lieu").val()!='lieu'){ lieuBox= $("#lieu").val();}
    if($("#emotion").val()!=-1){ emo= $("#emotion").val();} else emo='-1';
    if($("#activite").val()!='activite'){ act= $("#activite").val();}

    if(document.getElementById('pub').checked){pap=0;}
    if(document.getElementById('am').checked){pap=1;}
    if(document.getElementById('pr').checked){pap=2;}

    $.ajax({
    data: 'type='+'0' + ' &legende=' +  $("#status").val() + ' &idalbum='+'0' + ' &lieu=' + lieuBox + ' &emotion='+emo +' &activite='+ act + ' &contenu='+ '0' + ' &pap='+pap ,
    url: SLASH+'..'+SLASH+'layout'+SLASH+'publication.php',
    method: 'POST',
        success: function(msg) {
            alert(msg);
        }
    })
    }
    else alert("Vous n'avez rien entré!");

    })
                $('#media').submit(function(e){
                    e.preventDefault();

                    var dateBox=-'', statutBox='', lieuBox='', emo='', act='', pap='';
                    if($("#selMedia").val()!=''){

                        if($("#lieu2").val()!='lieu'){ lieuBox= $("#lieu2").val();}
                        if($("#emo2").val()!=-1){ emo= $("#emo2").val();} else emo='-1';
                        if($("#act2").val()!='activite'){ act= $("#act2").val();}

                        if(document.getElementById('pub').checked){pap=0;}
                        if(document.getElementById('am').checked){pap=1;}
                        if(document.getElementById('pr').checked){pap=2;}

                        $pieces = $("#nameP").val().split("h");
                        $path="";
                        $path =$("#selMedia").val() +$pieces[1]; //$pieces[1];
                        alert($path);
                        $album = $("#numAl").val();
                        var al=$album;
                        var pa=$path;
                        //$legende = $("#legende").val();
                        $.ajax({
                            data: 'type='+'1' + ' &legende=' +  $("#legende").val() + ' &idalbum='+al + ' &lieu=' + lieuBox + ' &emotion='+emo +' &activite='+ act + ' &contenu='+ pa + ' &pap='+pap ,
                            url: SLASH+'..'+SLASH+'layout'+SLASH+'publication.php',
                            method: 'POST',
                            success: function(msg) {
                                alert(msg);
                            }
                        })
                    }
                    else alert("Vous n'avez rien entré!");

                })

            });
    </script>
</div>
<br/><br/><br/><br/><h1 class="center">Publication</h1>

<div class="publi-left publi">  
    <br/><br/>
    <h2>Publier un status</h2><br/><br/>
    <form method="post" class="pp" id="formStat">
        Status :
        <input type="text" class="textbox" name="status" id="status"/> <br> <br> <br>
        Lieu : <input type="text" name="lieu" class="textbox" id="lieu"/><br/><br/>
        Emotion : <input type="number" name="emot" class="textbox" value="0" id="emotion"/><br/><br/>
        Activité : <input type="text" name="activité" class="textbox" id="activite"/>

        <br/><br/>

        <input type="radio" name="typPub" value="Public" id="pub" checked> Public
        <input type="radio" name="typPub" value="Amis" id="am"> Amis 
        <input type="radio" name="typPub" value="Seul" id="pr"> Moi uniquement <br/><br/>
        <input type="submit" id="buttonStatuts" value="Publier" name="publierStatus"/>
        </br></br></br></br>
    </form>
</div>

<br/><br/>
<!-- Publication Image/Video-->
<div class="publi publi-right">
    <h2>Publier un média</h2><br/><br/>

    <form method="post" class="pp" id="media">
        Legende : <input type="text" class="text" name="legende" id="legende"/></br></br>
        <input type="file" class="FileAdd" name="path"  class="Box" id="nameP"/> <br>
        Ajouter le chemin jusuq'au dossier où le média est stocké <br/>afin de pouvoir poster ce média !!! <br>
        Chemin : <input type="text" class="text" name="selMedia" id="selMedia"/>

        <br/>
        <br/>
        <br/>
        Lieu : <input type="text" name="lieu" class="textbox" id="lieu2"/><br/><br/>
        Emotion:
        <input type="number" name="emot" class="textbox" id="emo2"/><br/><br/>
        Activité : <input type="text" name="activité" class="textbox" id="act2"/><br/><br/>
        Numéro de l'album:
        <input type="number" name="nomalbum" class="textbox" value="0" id="numAl"/><br/><br/>

        <br/>

        <input type="radio" name="typPub" value="Public" checked> Publique
        <input type="radio" name="typPub" value="Amis" > Amis
        <input type="radio" name="typPub" value="Seul" > Moi-même
        <br/><br/>
        <input type="submit" class="button" value="Publier" name="PublierMédia"/><br/><br/>
    </form>
</div><br/><br/>
<div class="historique">
    <!-- Affichage de l'historique-->
    <h1 class="center"><br/></br/>Vos publications</h1>
    <div id="post">
    {% for post in data %}

        {% if post.type == 0 %}
            <!-- post text -->
            <h2>   {{ post.legend }}</h2> <br>
            {% if post.emotion %}
                <div id="emotion" class="image-emotion" >
                    <img src={{ '/../layout/img/Emotion/'~ post.emotion~'.png'}} name="emotion" width="70" height="70">
                </div>
            {% endif %}
        {% elseif post.type == 1 or post.type ==2 %}
            <!-- post image ou video-->

            {% if post.type == 1 %}
                <img src={{ '/../userdata/'~ post.user~'/'~post.idalbum~'/'~post.idpost ~'.png'}} name={{ post.idpost }}>
            {% else %}
                <video width="320" height="240" autoplay>
                    <source src={{ '/../userdata/'~ post.user~'/'~post.idalbum~'/'~post.idpost ~'.mp4'}} type="video/mp4">
                    <source src={{ '/../userdata/'~ post.user~'/'~post.idalbum~'/'~post.idpost ~'.ogg'}} type="video/ogg">
                    Your browser does not support the video tag.
                </video>
            {% endif %}
            <form class="add to album" id="addToAlbumAction" method="post">
                Add to album - pour toi marianne<input type="submit" value="Valider"/>
            </form>
        {% endif %}
        <div class="post">
            <div class="post-text">
                {% if post.legende %}
                    {{ post.legende }}
                {% endif %}
            </div>
            <div  class="post-date">
                {% if post.date%}
                    {{ post.date}}
                {% endif %}

                {% if post.lieu%}
                    {{ post.lieu }}
                {% endif %}

                {% if post.activiter%}
                    {{ post.activiter}}
                {% endif %}
            </div>
        </div>
        <br/><br/><br/><br/><br/><br/>
    {% endfor %}
    </div>
</div>